
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Ecom</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

  <script  type="text/javascript">
    var user = '{{request.user}}'
    function getToken(name){
      var cookieValue = null;
      if(document.cookie && document.cookie !== ''){
          var cookies = document.cookie.split(';');
          for (var i = 0; i< cookies.length; i++){
              var cookie = cookies[i].trim();
              //does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length +1)===(name + '=')){
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue
  }
  var csrftoken = getToken('csrftoken');


  function getCookie(name){
    //Split cookie string and get all indivisual name=value pairs is an array
    var cookieArr = document.cookie.split(';');

    //Loop through the array elemnts
    for(var i = 0; i < cookieArr.length;i++){
        var cookiePair = cookieArr[i].split('=');

        /*Removing whitespace at the beginnig of the cookie nane
        and compare it with the given string*/
        if(name == cookiePair[0].trim()){
            // Decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
        }
    }
    //Return null if not found
    return null;
}

var cart = JSON.parse(getCookie('cart'))

if(cart == undefined){
  cart = {}
  console.log('Cart was created')
  document.cookie = 'cart = ' + JSON.stringify(cart) + ';domain;path=/'
}
console.log('Cart:',cart)

console.log('user', user)




  </script>

</head>
<body>
    

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'store' %}">Inicio</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'store' %}">Store <span class="sr-only">(current)</span></a>
              
            </li>
            
          </ul>


          <div class="form-inline my-2 my-lg-0">
            <h4 class="mx-3 " id="userTitle">{{user}}</h4>
            <a href="{% url 'userLoginForm' %}" class="btn btn-primary mr-4 hidden"  id="btnLogin">Login</a>
            <br>
            <a href="{% url 'logout' %}" class="btn btn-warning" id="btnLogout" >Logout</a>
            <a href="{% url 'userRegisterForm' %}" class="btn btn-warning hidden" id="btnRegister" >Register</a>

            <a href="{% url 'cart' %}">
                <img  id="cart-icon" src="{% static 'images/cart.png' %}" alt="">
            </a>
            <p id="cart-total" >{{cartItems}}</p>

          </div>
        
        </div>
      </nav>
   
<div class="container" >
    {%block content %}
    {% endblock content %}
    <br>

</div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>    

<!--Js-->
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>     
</body>
</html>